<div class="container-sm mt-5" style="max-width: 960px !important; margin-bottom: 200px;">
  <div class="row">
    <h2>Estadísticas</h2>
    <hr>
    <div class="col-lg-8 col-sm-12">
      <h5>Ultimas ventas</h5>
      <table class="table" style="background-color: #ecba51; color: white">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">1234</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>3456</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>4567</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>1232</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>4567</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>1235</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>5678</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-sm-12" >
      <h5>Ultimos mensajes</h5>
      <div class="row">
        <div class="card col-12 mb-1" >

          <div class="card-body">
            <h6 class="card-title">Duda</h6>
            <p class="card-text fs-6" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales metus nulla, nec interdum elit consequat vel. Vivamus mi nibh, finibus vel felis non, tincidunt iaculis ligula</p>
            <a href="#" class="btn btn-primary btn-sm">Responder</a>
          </div>
        </div>
        <div class="card col-12 mb-1" >

          <div class="card-body">
            <h6 class="card-title">Duda</h6>
            <p class="card-text fs-6" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales metus nulla, nec interdum elit consequat vel. Vivamus mi nibh, finibus vel felis non, tincidunt iaculis ligula</p>
            <a href="#" class="btn btn-primary btn-sm">Responder</a>
          </div>
        </div>
        <div class="card col-12 mb-1" >

          <div class="card-body">
            <h6 class="card-title">Duda</h6>
            <p class="card-text fs-6" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales metus nulla, nec interdum elit consequat vel. Vivamus mi nibh, finibus vel felis non, tincidunt iaculis ligula</p>
            <a href="#" class="btn btn-primary btn-sm">Responder</a>
          </div>
        </div>



      </div>
    </div>



  </div>
</div>
