<div class="container-sm mt-5" style="max-width: 960px !important; margin-bottom: 200px;">
  <div class="row">
    <h2>Información</h2>
    <hr>
    <div class="col-lg-6 col-sm-12">
      <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales metus nulla, nec interdum elit consequat vel. Vivamus mi nibh, finibus vel felis non, tincidunt iaculis ligula. Nulla egestas blandit elit, non tristique ligula egestas quis. Cras ultricies quam et nisl porttitor hendrerit. Fusce aliquam enim vitae accumsan posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam scelerisque velit et quam tincidunt accumsan.

          Duis pretium nisl ut risus imperdiet pretium. Quisque viverra tempus tellus, eu congue leo tempor eu. Nulla vitae arcu auctor, vestibulum justo eu, commodo orci. Aliquam erat volutpat. Quisque blandit laoreet imperdiet. Aenean venenatis, magna id interdum pellentesque, purus nibh ullamcorper libero, at vulputate purus magna a lacus. Cras arcu risus, sodales sit amet sagittis iaculis, iaculis porta eros. Sed volutpat malesuada nibh, vitae iaculis ligula pretium in.

          Fusce dui orci, eleifend vitae faucibus at, faucibus nec tortor. Aenean efficitur justo ac dictum sagittis. Phasellus est lectus, dapibus sit amet tempor eu, bibendum in odio. Sed in quam non nunc tincidunt ornare. Vestibulum condimentum vitae nunc at rutrum. Integer luctus enim quis dolor suscipit tempus. Pellentesque pretium auctor nibh id cursus. Proin id felis a dui efficitur tincidunt vel a est. Sed consequat aliquam lectus. Vivamus blandit sagittis sollicitudin.

          Sed sodales ex leo, vel aliquam felis hendrerit sed. Etiam nec rhoncus eros. In hac habitasse platea dictumst. Nulla fringilla ultrices arcu eget porttitor. Nullam ac velit condimentum, rutrum ipsum at, dapibus tortor. Donec mollis placerat euismod. In non ex laoreet, porttitor tortor ut, egestas nulla. Suspendisse consequat ex et elementum dictum. Nulla viverra volutpat est, vehicula blandit metus iaculis varius. Maecenas urna nunc, tincidunt vel vestibulum vitae, bibendum a nulla. Etiam fermentum nisi nisl. Vivamus sodales diam eu scelerisque semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat, mi id mollis rutrum, nunc massa tristique erat, nec lacinia metus nisi non felis.

          Nullam vitae felis consequat, tempus odio ac, dignissim est. Etiam vestibulum cursus lacus vel sagittis. Praesent augue eros, blandit nec arcu id, porta fermentum ante. Proin facilisis tellus justo, nec vestibulum odio ullamcorper et. Fusce ornare ex eu mi semper, at rutrum est vulputate. Quisque nec metus nec urna faucibus molestie ut sit amet eros. Sed commodo lorem et ante volutpat tempor. Nullam nec laoreet libero. Morbi vel vestibulum nibh. Donec id neque sit amet lacus interdum euismod varius vitae risus. Morbi elementum maximus sem id auctor. Duis aliquam, enim sed hendrerit tristique, elit sapien tempus leo, ac molestie arcu mi at tortor. Fusce eget semper eros, eu fringilla nibh. Donec semper lacus elit, nec ultricies mauris pretium auctor.</p>
      </section>
    </div>
    <div class="col-lg-6 col-sm-12">
      <img src="../../../assets/images/tienda-futurama-valencia.jpg" style="max-width: 100%; max-height: 100%">
    </div>



  </div>
  </div>


