.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

mat-form-field{
  padding-bottom: 15px;
  padding-right: 15px;
}

.verde{
  color: green;
}
.rojo{
  color: red;
}
